<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear/>
    <add key="NugetPackages" value="https://api.nuget.org/v3/registration5-gz-semver2/microsoft.aspnetcore.staticfiles/index.json" />
    <add key="PhotinoPackages" value="https://pkgs.dev.azure.com/tryphotino/Photino.Native/_packaging/PhotinoPackages/nuget/v3/index.json" />
  </packageSources>
</configuration>